<!-- header starts -->
<header id="header" class="main-header">
  <div class="custom-container">
    <div class="header-panel">
      <div class="flex-align-center gap-2">
        <a href="#offcanvasLeft" data-bs-toggle="offcanvas">
          <i class="iconsax icon-btn" data-icon="text-align-left"> </i>
        </a>
        <img
          class="img-fluid logo"
          src="../../assets/images/logo/driver/driver-logo-white.png"
          alt="logo"
        />
      </div>

      <div class="flex-align-center gap-sm-3 gap-2">
        <a href="notification.html">
          <i class="iconsax icon-btn noti-icon" data-icon="bell-2"> </i>
        </a>
      </div>
    </div>
  </div>
</header>
<!-- header end -->

<!-- earning section starts -->
<section>
  <div class="custom-container">
    <ul class="total-ride-list mt-0 p-0">
      <li>
        <a href="wallet.html" class="ride-box">
          <div class="flex-spacing gap-1">
            <h4>$3100</h4>
            <div class="ride-icon">
              <i class="iconsax icon" data-icon="wallet-open"> </i>
            </div>
          </div>
          <div class="flex-spacing gap-1 mt-1">
            <h6 class="d-flex flex-wrap">Total Earnings</h6>
            <i class="iconsax arrow-icon" data-icon="arrow-right"> </i>
          </div>
        </a>
      </li>
      <li>
        <a href="my-rides.html" class="ride-box">
          <div class="flex-spacing gap-1">
            <h4>16</h4>
            <div class="ride-icon">
              <i class="iconsax icon" data-icon="smart-car"> </i>
            </div>
          </div>
          <div class="flex-spacing gap-1 mt-1">
            <h6 class="d-flex flex-wrap">Complete Ride</h6>
            <i class="iconsax arrow-icon" data-icon="arrow-right"> </i>
          </div>
        </a>
      </li>

      <li>
        <a href="my-rides.html" class="ride-box">
          <div class="flex-spacing gap-1">
            <h4>02</h4>
            <div class="ride-icon">
              <i class="iconsax icon" data-icon="car"> </i>
            </div>
          </div>
          <div class="flex-spacing gap-1 mt-1">
            <h6 class="d-flex flex-wrap">Pending Ride</h6>
            <i class="iconsax arrow-icon" data-icon="arrow-right"> </i>
          </div>
        </a>
      </li>
      <li>
        <a href="my-rides.html" class="ride-box">
          <div class="flex-spacing gap-1">
            <h4>04</h4>
            <div class="ride-icon">
              <i class="iconsax icon" data-icon="driving"> </i>
            </div>
          </div>
          <div class="flex-spacing gap-1 mt-1">
            <h6 class="d-flex flex-wrap">Cancel Ride</h6>
            <i class="iconsax arrow-icon" data-icon="arrow-right"> </i>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
<!-- earning section end -->
