<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>
      Start with OTP
      <a [routerLink]="['/otp']"> OTP page </a>
    </p>
    <p>
      Start with login
      <a [routerLink]="['/login']"> login page </a>
    </p>
    <p>
      Start with signup
      <a [routerLink]="['/signup']"> signup page </a>
    </p>
    <p>
      Start with home
      <a [routerLink]="['/dashboard']"> home page </a>
    </p>
  </div>
</ion-content>
